---
import Social from "./Social.astro";
import LenguageCard from "./LenguageCard.astro";
import "../styles/cursorAnimation.css";

import { BASE_URL, SITE } from '../config.js';

---

<section id="about" class="flex items-center lg:gap-40 gap-8 py-16 px-6 sm:px-12 lg:px-24">
  <!-- Text LEFT -->
  <div class="flex-1 max-w-xl">
    <h2 class="text-4xl font-bold mb-4">
      Hola! Mi nombre es Daniel, y soy un&nbsp;
      <span id="dynamic-word" class="text-dark-600"></span><span id="cursor" class="animate-blink">|</span> DEV
    </h2>
    <p class="text-gray-600 mb-6">
      Hola, soy Daniel Flores Viera, estudiante de ING. Civil Informática, apasionado por el desarrollo backend y la creación de sistemas eficientes y escalables. Soy un Junior que está constantemente adquiriendo conocimientos en el mundo de la programación, buscando mejorar mis habilidades día a día. Me interesa especialmente la arquitectura de software, el diseño de API y la gestión de bases de datos.
    </p>
    <!-- Social Media Component -->
    <Social />
  </div>

  <!-- IMG RIGHT -->
  <div class="lg:w-64 lg:h-64 h-32 rounded-full overflow-hidden relative shadow-md">
    <img
      src=`${SITE}/${BASE_URL}/images/about_image_phie.JPEG`
      alt="Foto Daniel Flores Viera"
      class="w-full h-full object-cover scale-150 object-center"
    />
  </div>
</section>

<section id="lenguages" class="flex flex-wrap gap-4 px-24 py-8 ml-12">

  <LenguageCard
    title="JavaScript"
    description="Aprendí JavaScript de una forma decente mediante la creación de aplicaciones, tales como: Bot de discord, Auth System, APIs con Node, etc. Considero que conozco JS, pero puedo aprender nuevas facetas del lenguaje"
    imageUrl=`${SITE}/${BASE_URL}/icons/js-icon.png`
    imageAlt="Logo de JavaScript"
  />
  <LenguageCard
    title="TypeScript"
    description="Aprendí TypeScript de la misma forma que aprendí JavaScript, de hecho traspasé unos proyectos (Bot de discord, Biblioteca Virtual, APIs) de JS a TS desde 0. Me desenvuelvo bien en TS"
    imageUrl=`${SITE}/${BASE_URL}/icons/ts-icon.png`
    imageAlt="Logo de TypeScript"
  />
  <LenguageCard
    title="Java"
    description="Aprendí las bases de Java en la Universidad, pero desarrollé mis conocimientos a través de APIs, plugins de minecraft y sistemas Oauth2, Java también me ayudo a centrarme en mysql"
    imageUrl=`${SITE}/${BASE_URL}/icons/java-icon.png`
    imageAlt="Logo de Java"
  />
  <LenguageCard
    title="Python"
    description="Es el lenguaje en el que menos proyectos he trabajado, pero aún así considero que es un buen lenguaje y le tengo respeto. Asimismo, tengo conocimientos para la automatización de algoritmos en PY"
    imageUrl=`${SITE}/${BASE_URL}/icons/py-icon.png`
    imageAlt="Logo de Python"
  />
  <LenguageCard
    title="MongoDB"
    description="Gracias a proyectos que necesitaban persistencia de datos, como por ejemplo Bots de Discord, Outh2, Plugins de Minecraft y algunos proyectos virtuales, pude aprender decentemente MongoDB"
    imageUrl=`${SITE}/${BASE_URL}/icons/mongodb-icon.png`
    imageAlt="Logo de MongoDB"
  />
  <LenguageCard
    title="APIS"
    description="El desarrollo y consumo de API, APIS y servidores WebSockets han sido las mejores herramientas que he podido adquirir, todavía me considero novato, pero realmente me ha facilitado mucho mis proyectos"
    imageUrl=`${SITE}/${BASE_URL}/icons/api-icon.png`
    imageAlt="Logo de API"
  />
</section>

<script>
  import { startTypingEffect } from "../scripts/typingEffect";
  const aboutTitleWords = ["Backend", "Discord", "Minecraft"];
  startTypingEffect(aboutTitleWords);
</script>
